*.o
cntlm
cntlm*.exe
cntlm*.zip
cntlm*.rpm
cntlm*.deb
cntlm*.tar.gz
/configure-stamp
/config/config.h
/config/endian
/config/gethostname
/config/socklen_t
/config/strdup
/config/*.exe
/win/*.exe
/win/*.dll
/win/setup.iss
/win/cntlm_manual.pdf
/win/cntlm.ini
/win/LICENSE.txt
