version: 1.0.{build}
image:
- Visual Studio 2017
- Visual Studio 2015
clone_folder: c:\projects\cntlm
build_script:
- cmd: >-
    C:\cygwin64\setup-x86_64.exe -qgnNdO -l C:\cygwin64\var\cache\setup -R c:\cygwin64 -s http://cygwin.mirror.constant.com -P ghostscript -P dos2unix -P zip

    C:\cygwin64\bin\bash -e -l -c "cd /cygdrive/c/projects/cntlm && make distclean && ./configure && make DEBUG=1 && make win"

    C:\cygwin64\bin\bash -e -l -c "cd /cygdrive/c/projects/cntlm && make distclean && ./configure && make && make win"
artifacts:
- path: cntlm-*.exe
- path: cntlm*.zip
