# https://scan.coverity.com/projects/versat-cntlm

name: Coverity Scan

on:
  push:
    branches: [master]
  schedule:
    - cron: '0 3 * * 3'

jobs:
  coverity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./configure
    - uses: vapier/coverity-scan-action@v1
      with:
        command: make
        project: ${{ github.repository }}
        email: ${{ secrets.COVERITY_SCAN_EMAIL }}
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
