name: MacOS build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install packages required for optional configurations of cntlm
      run: brew install pacparser krb5
    - name: Normal build
      run: |
        ./configure
        make
        make distclean
    - name: Unicode build
      run: |
        ./configure
        CFLAGS=-DUNICODE make
        make distclean
    - name: Build with pacparser enabled
      run: |
        ./configure --enable-pacparser
        make
        make distclean
    - name: Build with kerberos enabled
      run: |
        ./configure --enable-kerberos
        make
        make distclean
    - name: Verify debug build
      run: |
        ./configure
        make DEBUG=1
        make distclean
